body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: darkgray;
}

/* add some border effects for tangram container to separate it from bg */
.tangram-container {
    background-color: white;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 20vh;
    left: 25vw;
    padding: 50px;
    border: 1px solid blue;
}

.dragElem {
    cursor: move;
    z-index: 9;
}

.fig-container {
    position: absolute;
    top: 19vh;
    right: 17vw;
    padding: 15px;
    background-color: white;
    border: 1px solid blue;
}

.control-container {
    position: absolute;
    bottom: 15vh;
    left: 43vw;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: white;
    border: 1px solid blue;
    padding: 5px;
    border-radius: 5px;
}

button {
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: navy;
    align-items: center;
    justify-content: center;
}

/* need to add a base class for movable pieces for QOL improvements, i.e. hover effect to indicate clickable */
.triangle-large {
    height: 0;
    width: 0;
    position: absolute;
}

.triangle-medium {
    height: 0;
    width: 0;
    position: absolute;  
}

.triangle-small {
    height: 0;
    width: 0;
    position: absolute;
}

.square {
	height: 0;
	width: 0;
	position: absolute;
}

.parallelogram {
    width: 115px;
    height: 56px;
    transform: skew(-45deg);
    background: yellow;
}

#piece-1 {
    bottom: 40px;
    right: 40px;
    border-bottom: 112px solid purple;
    border-left: 112px solid transparent;
    /* transform: rotate(270deg); */
}

#piece-2 {
    bottom: 172px;
	right: 1px;
	rotate: 45deg;
    border-bottom: 78px solid red;
    border-right: 78px solid transparent;
    /* transform: rotate(90deg); */
}

#piece-3 {
    bottom: 114px;
    right: 56px;
    rotate: 45deg;
    border-bottom: 80px solid green;
	border-left: 80px solid green;
}

#piece-4 {
    top: 31px;
    left: 33px;
    border-top: 114px solid darkturquoise;
    border-right: 114px solid transparent;
    border-left: 114px solid transparent;
}

#piece-5 {
    top: 31px;
    left: 33px;
    border-left: 114px solid violet;
    border-top: 114px solid transparent;
    border-bottom: 114px solid transparent;
}

#piece-6 {
    top: 147px;
    left: 90px;
    border-bottom: 57px solid darkslategray;
    border-left: 57px solid transparent;
    border-right: 57px solid transparent;
}