body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: darkgray;
}

/* add some border effects for tangram container to separate it from bg */
.tangram-container {
    background-color: white;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 20vh;
    left: 25vw;
    padding: 50px;
    border: 1px solid blue;
}

.dragElem {
    cursor: move;
    z-index: 9;
}

.fig-container {
    position: absolute;
    top: 19vh;
    right: 17vw;
    padding: 15px;
    background-color: white;
    border: 1px solid blue;
}

.control-container {
    position: absolute;
    bottom: 15vh;
    left: 43vw;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: white;
    border: 1px solid blue;
    padding: 5px;
    border-radius: 5px;
}

button {
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: navy;
    align-items: center;
    justify-content: center;
}

/* need to add a base class for movable pieces for QOL improvements, i.e. hover effect to indicate clickable */

.triangle-medium {
    height: 0;
    width: 0;
    position: absolute;  
}

.triangle-small {
    height: 0;
    width: 0;
    position: absolute;
}

.square {
	height: 0;
	width: 0;
	position: absolute;
}

#piece-1 {
    bottom: 40px;
    right: 40px;
    border-bottom: 100px solid purple;
    border-left: 100px solid transparent;
}

#piece-2 {
    bottom: 154px;
	right: 5px;
	rotate: 45deg;
    border-bottom: 70px solid red;
    border-right: 70px solid transparent;
}

#piece-3 {
    bottom: 104px;
    right: 54px;
    rotate: 45deg;
    border-bottom: 70px solid green;
	border-left: 70px solid green;
}